.section-padding {
	padding: 2em 2em;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.section-heading {
	margin: 4px 0;
	font-family: "Fira Sans", sans-serif;
	font-size: 3.8rem;
	text-align: center;
	color: var(--secondColor);
	text-transform: uppercase;
	letter-spacing: 2px;
}

.heading-mb {
	margin-bottom: 0.5em;
}

.break {
	flex-basis: 100%;
	height: 0;
}

.hr {
	margin-top: 2em;
	width: 100%;
}

.modal-shadow {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
}

.show {
	display: block;
}

///// btn scroll to top
.scroll-to-top {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 10px;
	padding: 0.2em;
	background-color: transparent;
	font-size: 3rem;
	border: none;
	cursor: pointer;
	z-index: 10;
	transition: transform 0.3s;
}

.scroll-to-top:hover {
	transform: scale(1.2);
}

.scroll-to-top-active {
	display: block;
}

/////cookie alert
.hide {
	display: none;
}

.cookie-box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: fixed;
	bottom: 0;
	padding: 2em;
	width: 100%;
	font-size: 2rem;
	background-color: var(--secondColor);
	color: #fff;
	opacity: 0;
	transform: translateY(100%);
	animation: show-cookies 0.5s 0.5s forwards;
	z-index: 11;
}

.cookie-btn {
	margin-top: 1em;
	padding: 0.5em 1em;
	font-size: 1.6rem;
	border: 5px solid;
	border-radius: 10px;
	color: #fff;
	background-color: var(--secondColor);
	transition: background-color 0.3s;
	cursor: pointer;
}

.cookie-btn:hover {
	background-color: rgb(134, 134, 8);
}

@keyframes show-cookies {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

//////////btn animation////////

.btn-animation {
	position: relative;
	background: none;
	overflow: hidden;
	z-index: 0;
}

.btn-animation::before,
.btn-animation::after {
	display: block;
	position: absolute;
	content: "";
	transition: all 0.5s;
	z-index: -1;
}

.slice::after,
.slice::before {
	width: 100%;
	height: 100%;
	background-color: var(--secondColor);
}

.slice::before {
	top: -50%;
	left: -100%;
}

.slice::after {
	bottom: -50%;
	right: -100%;
}

.slice:hover::before {
	left: 0;
}

.slice:hover::after {
	right: 0;
}

@keyframes card-one {
	0% {
		order: 5;
	}
	25% {
		order: 4;
	}
	50% {
		order: 3;
	}
	75% {
		order: 2;
	}
	100% {
		order: 1;
	}
}

@keyframes card-five {
	0% {
		order: 1;
	}
	25% {
		order: 2;
	}
	50% {
		order: 4;
	}
	75% {
		order: 5;
	}
	100% {
		order: 3;
	}
}

////////MEDIA////////////

@media (min-width: 576px) {
	.scroll-to-top {
		bottom: 50px;
		right: 20px;
	}

	.cookie-box {
		height: 25vh;
	}
}

@media (min-width: 768px) {
	.section-heading {
		font-size: 3.6rem;
	}

	// .section-padding {
	// 	padding: 8em 2em;
	// }
}

@media (min-width: 992px) {
	.section-heading {
		font-size: 4.8rem;
	}

	// .section-padding {
	// 	padding: 10em 2em;
	// }
}

@media (min-width: 1100px) {
	.break {
		display: none;
	}
}
